@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-script: "Roboto Serif", serif; 
  }

body {
    overflow-x: hidden;
    background-color: #000;
}

::-webkit-scrollbar {
    background-color: #0e0e0e;
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

