
  .card{
    width: 300px;
    background: #000000;
    text-align: center;
    border-radius: 10px;
    position: relative;
  }

  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .card::after, .card::before{
    content: '';
    position: absolute;
    height: 102%;
    width: 102%;
    background-image: conic-gradient(from var(--angle), #464646, #b8b8b8, #000000, #141414, #000000);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 7s spin linear infinite;
  }
  .card::before{
    filter: blur(0.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }